.AdminTop{
    padding:13px;
    background:#f2eeee;
    color:#333;
    font-weight:bold;
   

}

.adminNavbar{
    display:grid;
    grid-template-columns:1fr 3fr;
    height:100vh;
   
  
}
.AdminLeft{
      background:#f2eeee;
}
.AdminRight{
    padding:30px;
    background:#fbfbfb;
   
}
.adminLinks{
    display:flex;
    flex-direction:column;
   
}
.adminLinks > button{
    border:none;
    background:#f2f2f2;
    padding:5px;
    border-radius:5px;
    font-size:14px;
    text-align:center;
}
.adminLinks > button:hover{
    cursor:pointer;
    background-color: #dc3545;
    color:white;
}