.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.navlinks {
  display: flex;
  flex-direction: column;
}

.navlink {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navlink:hover {
  background-color: #f0f0f0;
}

.navlink.active {
  background-color: #ccc;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.content-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}
