.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex-basis: 30%;
  margin-bottom: 30px;
}

.footer-section h5 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p {
  color: #ccc;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00f;
}

.quick-links {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
}

.quick-links li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.quick-links li a:hover {
  color: #fff;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.subscribe-form input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.subscribe-form button {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  border-radius:20px;
  color:black;
  
}

.footer-div{
  font-size:14px;
}